@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-cyan-500;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.preview-half:hover {
    flex-grow: 1.1;
}

.img-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px dashed rgba(255, 255, 255, 0.2);
}

.bg-preview-light {
    background-color: #FDFBF7;
    color: #4A3B32;
}

.bg-preview-dark {
    background-color: #252A2E;
    color: #E0F7FA;
}